@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background-color: #3D3A50;
}

.header {
  padding: 20px;
}

.header__title {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  color: #F7F7F7;
}

.header__text {
  font-size: 16px;
  padding: 10px 0;
  line-height: 1.4;
  color: #F7F7F7;
  text-align: center;
}

.content {
  font-family: 'Roboto', sans-serif;
  max-width: 840px;
  margin: 0 auto;
}

.main__body {
  width: 100%;
}

.main__tictac {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__result {
  display: none;
  padding: 20px 0;
}

.main__winner {
  font-size: 20px;
  color: #F7F7F7;
  text-align: center;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.tictac__game {
  height: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tictac__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tictac__row:nth-child(2) {
  border-top: 2px solid #f7f7f752;
  border-bottom: 2px solid #f7f7f752;
}

.tictac__cell {
  color: #F7F7F7;
  position: relative;
  width: 100%;
  height: 265px;
  cursor: pointer;
}

.tictac__cell:first-child {
  border-right: 2px solid #f7f7f752;
}

.tictac__cell:last-child {
  border-left: 2px solid #f7f7f752;
}

.cross {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cross::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  background-color: #F7F7F7;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 100%;
  height: 2px;
}

.cross::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  background-color: #F7F7F7;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 100%;
  height: 2px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #F7F7F7;
  border-radius: 50%;
  width: 90%;
  height: 90%;
}

.main__tictac._win {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.5;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(0, 0) scale(0.5);
          transform: translate(0, 0) scale(0.5);
  height: 400px;
}

.main__result._show {
  display: block;
}

@media (max-width: 800px) {
  .content {
    max-width: 602px;
  }
  .tictac__cell {
    height: 200px;
  }
  .main__tictac._win {
    -webkit-transform: translate(0, 15%) scale(0.5);
            transform: translate(0, 15%) scale(0.5);
    height: 300px;
  }
}

@media (max-width: 620px) {
  .content {
    max-width: 452px;
  }
  .tictac__cell {
    height: 150px;
  }
  .header__text {
    font-size: 12px;
    line-height: 1;
  }
  .header {
    padding: 15px 0 5px 0;
  }
  .header__title {
    font-size: 14px;
  }
  .main__tictac._win {
    -webkit-transform: translate(0, 40%) scale(0.5);
            transform: translate(0, 40%) scale(0.5);
    height: 220px;
  }
  .main__winner {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .content {
    max-width: 362px;
  }
  .tictac__cell {
    height: 120px;
  }
  .main__tictac._win {
    -webkit-transform: translate(0, 60%) scale(0.5);
            transform: translate(0, 60%) scale(0.5);
    height: 180px;
  }
}

@media (max-width: 380px) {
  .content {
    max-width: 272px;
  }
  .tictac__cell {
    height: 90px;
  }
  .main__tictac._win {
    -webkit-transform: translate(0, 90%) scale(0.5);
            transform: translate(0, 90%) scale(0.5);
    height: 140px;
  }
}

@media (max-width: 280px) {
  .content {
    max-width: 152px;
  }
  .tictac__cell {
    height: 50px;
  }
  .main__tictac._win {
    -webkit-transform: translate(0, 225%) scale(0.7);
            transform: translate(0, 225%) scale(0.7);
    height: 100px;
  }
}
