// Обнуление стилей
@import "nullstyle.scss";
// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
//SCSS


//Цвета
//1A1C22 фон темный
//3D3A50
//580EF6
//F7F7F7 белый
body{
    background-color: #3D3A50;
}
.header {
    padding: 20px;
    &__body {
    }

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 25px;
        color: #F7F7F7;
    }

    &__text {
        font-size: 16px;
        padding: 20px 0;
        line-height: 1.4;
        color: #F7F7F7;
    }
}
.content {
    font-family: 'Roboto', sans-serif;
    max-width: 840px;
    margin: 0 auto;
}
.main {

    &__body {
    }

    &__tictac {
    }
}
.tictac {

    &__game {
        height: 800px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__row {
        // height: 1px;
        // margin: 265px 0 0 0;
        display: flex;
        flex-direction: row;
        &:nth-child(2){
            border-top: 2px solid #f7f7f752;
            border-bottom: 2px solid #f7f7f752;
        }
    }

    &__cell {
        color: #F7F7F7;
        position: relative;
        flex: 1 1 auto;
        height: 265px;
        cursor: pointer;
        &:first-child{
            border-right: 2px solid #f7f7f752;
        }
        &:last-child{
            border-left: 2px solid #f7f7f752;
        }
    }
}

.cross{
    position: absolute;
    width: 100%;
    height: 100%;
    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, 0);
        background-color: #F7F7F7;
        transform: rotate(45deg);
        width: 100%;
        height: 2px;
    }
    &::after{
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, 0);
        background-color: #F7F7F7;
        transform: rotate(-45deg);
        width: 100%;
        height: 2px;
    }
}

.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #F7F7F7;
    border-radius: 50%;
    width: 90%;
    height: 90%;
}