// Обнуление стилей
@import "nullstyle.scss";
// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
//SCSS


//Цвета
//1A1C22 фон темный
//3D3A50
//580EF6
//F7F7F7 белый
body{
    background-color: #3D3A50;
}
.header {
    padding: 20px;
    &__body {
    }

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 25px;
        color: #F7F7F7;
    }

    &__text {
        font-size: 16px;
        padding: 10px 0;
        line-height: 1.4;
        color: #F7F7F7;
        text-align: center;
    }
}
.content {
    font-family: 'Roboto', sans-serif;
    max-width: 840px;
    margin: 0 auto;
}
.main {

    &__body {
        width: 100%;
    }

    &__tictac {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__result {
        display: none;
        padding: 20px 0;
    }

    &__winner {
        font-size: 20px;
        color: #F7F7F7;
        text-align: center;
        transition: all 0.5s linear;
    }
}
.tictac {
    &__game {
        height: 800px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__row {
        // height: 1px;
        // margin: 265px 0 0 0;
        display: flex;
        flex-direction: row;
        &:nth-child(2){
            border-top: 2px solid #f7f7f752;
            border-bottom: 2px solid #f7f7f752;
        }
    }

    &__cell {
        color: #F7F7F7;
        position: relative;
        width: 100%;
        height: 265px;
        cursor: pointer;
        &:first-child{
            border-right: 2px solid #f7f7f752;
        }
        &:last-child{
            border-left: 2px solid #f7f7f752;
        }
    }
}

.cross{
    position: absolute;
    width: 100%;
    height: 100%;
    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, 0);
        background-color: #F7F7F7;
        transform: rotate(45deg);
        width: 100%;
        height: 2px;
    }
    &::after{
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, 0);
        background-color: #F7F7F7;
        transform: rotate(-45deg);
        width: 100%;
        height: 2px;
    }
}

.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #F7F7F7;
    border-radius: 50%;
    width: 90%;
    height: 90%;
}

.main__tictac._win{
    user-select: none;
    opacity: 0.5;
    transition: all 0.3s linear;
    transform: translate(0, 0) scale(0.5);
    height: 400px;
}

.main__result._show{
    display: block;
}

@media (max-width: 800px) {
    .content {
        max-width: 602px;
    }
    .tictac__cell{
        height: 200px;
    }
    .main__tictac._win{
        transform: translate(0, 15%) scale(0.5);
        height: 300px;
    }
}

@media (max-width: 620px) {
    .content {
        max-width: 452px;
    }
    .tictac__cell{
        height: 150px;
    }
    .header__text{
        font-size: 12px;
        line-height: 1;
    }
    .header{
        padding: 15px 0 5px 0;
    }
    .header__title{
        font-size: 14px;
    }
    .main__tictac._win{
        transform: translate(0, 40%) scale(0.5);
        height: 220px;
    }
    .main__winner{
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .content {
        max-width: 362px;
    }
    .tictac__cell{
        height: 120px;
    }
    .main__tictac._win{
        transform: translate(0, 60%) scale(0.5);
        height: 180px;
    }
}
@media (max-width: 380px) {
    .content {
        max-width: 272px;
    }
    .tictac__cell{
        height: 90px;
    }
    .main__tictac._win{
        transform: translate(0, 90%) scale(0.5);
        height: 140px;
    }
}
@media (max-width: 280px) {
    .content {
        max-width: 152px;
    }
    .tictac__cell{
        height: 50px;
    }
    .main__tictac._win{
        transform: translate(0, 225%) scale(0.7);
        height: 100px;
    }
}